:root{
    font-family: 'Archivo', sans-serif;
    --padding-cards: 30px;
    --card-shadow: 5px 5px 10px #c4c4c4;
    --theme-color: #b82b47; 
}
body {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER */

header {
    background-color: var(--theme-color);
    margin: 0;
    padding: var(--padding-cards);
    color: white;
    text-transform: uppercase;
}

/* DASHBOARD FOR LIBRARY */

#dashboard{
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, 200px);
    grid-auto-rows: 200px;
    gap: 20px;
    padding: 50px;
}

.card{
    display: flex;
    justify-content: space-between;
    padding: var(--padding-cards);
    box-shadow: var(--card-shadow);
}
.card-title{
    min-height: 40px;
    margin: 0;
    margin-bottom: 40px;
}

.card-author {
    margin-bottom: 40px;
}


/* BUTTON TO ADD BOOK */

#new-book{
    position: fixed;
    font-size: 30px;
    width: 80px;
    height: 70px;
    border-radius: 15px;
    border: none;
    background-color: #b82b47;
    box-shadow: var(--card-shadow);
    color: white;
    font-weight: bold;
    bottom: 60px;
    right: 60px;
}
#new-book:hover{
    background-color: var(--theme-color);
    box-shadow: 4px 4px 10px #9e9e9e;
}

/* FORM */

.wrapper {
    display: none;
    position: fixed;
    right: 60px;
    bottom: 150px;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 5px 5px 10px #636363;
    padding: var(--padding-cards);
    border-radius: 5px;
}
form > span {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

label{
    margin-bottom: 15px;
}

label input[type="text"],
label input[type="number"]{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #c1c1c1;
    padding: 5px;
}

fieldset{
    box-sizing: border-box;
    border: 1px solid #c1c1c1;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

fieldset > label > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#submit-book{
    background-color: var(--theme-color);
    height: 40px;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}

/* FOOTER */

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}