.wrapper {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
}

label input[type="text"],
label input[type="number"] {
    width: 100%;
}